# Untracked files:
devsync
subscripts/__pycache__/*
subscripts/downstream/__pycache__/*
subscripts/src/__pycache__/*
.snakemake/*
log_summary.html
covipipe_job_logs/*
tools/rbase_env/*
snpEff*
unittests/__pycache__/*
__pycache__/*
temp/*
# Untracked folders:
#testing actions
